body{
    background-image: url('pexels-olena-bohovyk-3646172.jpg');
    background-repeat: no-repeat;
    font-family: "Bruno Ace SC",sans-serif;
    background-position: center;
}

.card {
    text-align: center;
    margin-top: 200px;
    font-family: url();
    box-sizing: 40px;
}

.card h2{
    font-size: xx-large;
    color: white;
}

input{
    font-family: "Bruno Ace SC",sans-serif;
    border-radius: 1em;
    margin: 20px;
    padding: 10px;
    width: 350px;
    border: 3px solid;
    border-color: white;
    opacity: 75%;
}

button {
    border-radius: 1em;
    margin: 20px;
    padding: 9px;
    width: 375px;
    font-family: "Bruno Ace SC",sans-serif;
    font-size: large;
    opacity: 80%;
    background-color: burlywood;

}