body{
    background-image: url('pexels-olena-bohovyk-3646172.jpg');
    background-repeat: no-repeat;
    font-family: "Bruno Ace SC",sans-serif;
    background-position: center;
    color: aliceblue;
    align-items: center;
}

.card {
    text-align: center;
    margin-top: 100px;
}

nav {
    background-color: black;
    height : 50px;
    width: auto;
    margin: auto;
    position: relative;
}

.book-list{
    width : 915px;
    height: 525px;
    background-color: grey;
    opacity: 95%;
    margin: auto;
    margin-top: 50px;
    overflow-y: scroll;
    border-radius: 1.5em;
    padding : 5px;
}

.book-list::-webkit-scrollbar{
    display: none;
}


input#check-box{
    float : right;
    width: 50px;
}

.topnav a{
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
}

.search {
    float: right;
    margin-top: -10px;
}


input{
    font-family: "Bruno Ace SC",sans-serif;
    width: 290px;
    border: 3px solid;
    padding: 10px;
    border-color: white;
    border-radius: 1.5em;
}

h1{
    color: white;
}

h4{
    width: 120px;
}
.search-bar{
    margin-top: -20px;
}

button{
    height: 48px;
    width: 49px;
    border-radius: 1.5em;
}

.book{
    display: inline-flex;
    

}

.proceed {
    float: right;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    opacity: 70%;
    font-family: "Bruno Ace SC",sans-serif;
}
